
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(270deg, #008080, #F5F5DC, #008080);
  background-size: 600% 600%;
  animation: moveGradient 10s ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@layer base {
  :root {
    --background: 249 250 251;
    --foreground: 0 0 0;
    --muted: 243 244 246;
    --muted-foreground: 100 116 139;
    --popover: 255 255 255;
    --popover-foreground: 0 0 0;
    --card: 255 255 255;
    --card-foreground: 0 0 0;
    --border: 229 231 235;
    --input: 243 244 246;
    --primary: 79 227 255;
    --primary-foreground: 0 0 0;
    --secondary: 241 245 249;
    --secondary-foreground: 0 0 0;
    --accent: 241 245 249;
    --accent-foreground: 0 0 0;
    --destructive: 220 20 60;
    --destructive-foreground: 255 255 255;
    --ring: 56 189 248;
    --radius: 0.5rem;
    --sidebar-background: 255 255 255;
    --sidebar-foreground: 0 0 0;
    --sidebar-primary: 56 189 248;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 241 245 249;
    --sidebar-accent-foreground: 0 0 0;
    --sidebar-border: 229 231 235;
    --sidebar-ring: 56 189 248;
  }

  .dark {
    --background: 10 25 47;
    --foreground: 255 255 255;
    --muted: 17 33 54;
    --muted-foreground: 125 148 179;
    --popover: 17 33 54;
    --popover-foreground: 255 255 255;
    --card: 17 33 54;
    --card-foreground: 255 255 255;
    --border: 33 56 85;
    --input: 243 244 246;
    --primary: 56 189 248;
    --primary-foreground: 0 0 0;
    --secondary: 23 45 72;
    --secondary-foreground: 255 255 255;
    --accent: 79 227 255;
    --accent-foreground: 0 0 0;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 56 189 248;
    --radius: 0.5rem;
    --sidebar-background: 17 33 54;
    --sidebar-foreground: 255 255 255;
    --sidebar-primary: 56 189 248;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 23 45 72;
    --sidebar-accent-foreground: 0 0 0;
    --sidebar-border: 33 56 85;
    --sidebar-ring: 56 189 248;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide clear button in input (light mode) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0;
  width: 0;
}

/* Hide clear button in input (dark mode) */
.dark input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0;
  width: 0;
}
    
